# Ignore vendor directory
/vendor/

# Ignore .github directory
.github/

# Ignore composer.lock and composer.json
composer.lock

# Ignore phpstan.neon and phpcs.xml
phpstan.neon
phpcs.xml

# Ignore .env
.env
